title: Koci Zakątek
email: adopcje@kocizakatek.pl
description: >-
  Pod naszą opieką jest 50 kotów, które dobrze znamy. Wśród nich Twój wymarzony.
  Wysterylizowane, zaszczepione, odrobaczone, kocięta i dorosłe koty gotowe do adopcji.
baseurl: ""
url: "https://koci-zakatek.netlify.app/"
permalink: /blog/:title
section: true
netlifycms: true
analytics: false
sass:
  style: compressed
  sass_dir: _sass
compress_html:
  clippings: all
collections:
  cats:
    output: true
    permalink: /koty/:path
defaults:
  defaults:
  -
    scope:
      path: ''
      type: 'posts'
    values:
      layout: 'post'
      section: 'post'
      comments: true
      description: ' '
      category: ' '
      author: ' '
      tags: ' '
      image: ' '
      text-preview: ' '
  -
    scope:
      path: ''
      type: 'cats'
    values:
      layout: 'cat'
      published: ' '
      date: ' '
      slug: ' '
      name: ' '
      gender: ' '
      age: ' '
      fertility: ' '
      deworming: ' '
      grafting: ' '
      form: ' '
      status: ' '
      photos: ' '
      description: ' '
  -
    scope:
      path: ''
      type: 'facebookPosts'
    values:
      layout: 'facebookPost'
      published: ' '
      date: ' '
      id: ' '
      photo: ' '
markdown: kramdown
kramdown:
  auto_ids: false
include:
 - _redirects
exclude:
  - README.md
  - LICENSE.txt
  - netlify.toml
  - feed.xml
  - Gemfile
  - Gemfile.lock
  - docker-compose.yml
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
