.wroclove-card {
  padding-top: 50px;

  &_header {
    margin-top: 0;
    padding: 0 20px;
    font-size: 36px;
    line-height: 50px;
    font-weight: $font-weight-extrabold;
  }

  &_content {
    padding: 0 20px;
  }

  &_text {
    font-size: 16px;
    line-height: 26px;
    font-weight: $font-weight-light;

    a {
      word-break: break-word;
      font-weight: $font-weight-extrabold;
      color: $color-orange;
      text-decoration: none;
    }

    &--small {
      max-width: 380px;
      margin: 0 auto 20px;
      text-align: center;
      font-size: 12px;
      line-height: 18px;
    }
  }

  &_list {
    padding-left: 25px;
    list-style-type: none;
    font-size: 16px;
    line-height: 26px;
    font-weight: $font-weight-light;

    li {
      position: relative;
      padding: 2px 0;

      &::after {
        content: '';
        position: absolute;
        top: 8px;
        left: -25px;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        background-color: $color-orange;
      }
    }
  }

  &_box {
    margin: 40px 0 50px;
    padding: 10px 20px 20px;
    border: 1px solid $color-white;
    border-radius: 8px;
  }

  .btn {
    width: 150px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
  }

  &_image img {
    width: 100%;
    margin-bottom: -10px;
  }
}

@media (min-width: $breakpoint-xs) {
  .wroclove-card {
    padding: 60px 20px 20px;

    &_header, &_content {
      padding: 0 40px;
    }

    &_text a {
      word-break: keep-all;
    }

    &_box {
      margin-bottom: 20px;
    }

    &_image img {
      margin-bottom: 0;
      border-radius: 8px;
    }
  }
}

@media (min-width: $breakpoint-sm) {
  .wroclove-card {
    padding: 80px 60px 60px;

    &_header, &_content {
      padding: 0;
    }

    &_box {
      margin-bottom: 40px;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .wroclove-card {
    padding: 100px 80px 80px;

    &_box {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .wroclove-card {
    padding-bottom: 100px;
    
    &_wrapper {
      max-width: 1280px;
      margin: 0 auto;
    }

    &_header {
      margin-bottom: 75px;
      font-size: 54px;
      line-height: 70px;
    }

    &_content {
      display: flex;
      flex-flow: row nowrap;
    }

    &_left {
      box-sizing: border-box;
      width: 50%;
      margin-top: 0;
      padding-right: 80px;
      font-size: 18px;
      line-height: 34px;
    }

    &_box {
      box-sizing: border-box;
      position: relative;
      left: 50px;
      width: calc(50% - 50px);
      margin: 0;
      padding: 20px 50px 30px;
    }

    &_image {
      margin-top: 75px;
    }
  }
}
