.wroclove-commune {
  margin-top: 50px;
  
  &_header, &_subheader, &_text {
    padding: 0 20px;
    color: $color-main;
  }

  &_header {
    margin-top: 0;
    font-size: 28px;
    line-height: 42px;
    font-weight: $font-weight-extrabold;
  }

  &_subheader {
    font-size: 22px;
    line-height: 36px;
    font-weight: 700;
  }

  &_text, &_how-list {
    font-size: 16px;
    line-height: 26px;
    font-weight: $font-weight-normal;
  }

  &_how {
    display: flex;
    flex-direction: column;

    &-box {
      margin: 20px 0 30px;
      padding: 20px;
      border: 1px solid $color-orange;
      border-radius: 8px;
    }

    &-intro {
      margin-top: 0;
      text-align: center;
      font-size: 20px;
      line-height: 30px;
      font-weight: $font-weight-bolder;
      color: $color-orange;
    }

    &-list {
      padding-left: 20px;
      list-style-type: none;
      
      li {
        position: relative;
        padding: 5px 0;

        &::after {
          content: '';
          position: absolute;
          top: 12px;
          left: -25px;
          width: 12px;
          height: 12px;
          border-radius: 100%;
          background-color: $color-orange;
        }
      }
    }

    &-text {
      padding: 0 20px;
    }

    .wroclove-commune_text {
      padding: 0;
    }

    .btn {
      max-width: 200px;
      margin: 0 auto 5px;
      font-size: 14px;
      text-align: center;
      border-radius: 30px;
    }
  }

  &_image {
    margin: 25px 0 10px;

    img {
      width: 100%;
    }
  }

  &_food {
    padding-top: 25px;

    &-image {
      margin-top: 25px;
      margin-bottom: -10px;

      img {
        width: 100%;
      }
    } 
  }
}

@media (min-width: $breakpoint-xs) {
  .wroclove-commune {
    margin: 75px 0;
    padding: 0 20px;

    &_header, &_subheader, &_text, &_how-text {
      padding: 0 40px;
    }

    &_image img, &_food-image img {
      border-radius: 8px;
    }
  }
}

@media (min-width: $breakpoint-sm) {
  .wroclove-commune {
    margin: 100px 0;
    padding: 0 60px;

    &_header, &_subheader, &_text, &_how-text {
      padding: 0;
    }

    &_how .btn {
      max-width: 350px;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .wroclove-commune {
    margin: 100px 0;
    padding: 0 80px;

    &_header {
      font-size: 40px;
      line-height: 54px;
    }

    &_subheader {
      font-size: 32px;
      line-height: 48px;
    }

    &_how {
      &-box {
        padding: 40px 30px;
      }

      &-intro {
        font-size: 24px;
      }

      &-list {
        margin: 25px 0;
      }
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .wroclove-commune {
    &_header {
      margin-bottom: 50px;
    }

    &_cards-paragraphs, &_how-text, &_food {
      display: flex;
      flex-flow: row nowrap;
    }

    &_cards-paragraphs .wroclove-commune_text {
      box-sizing: border-box;
      width: 50%;

      &:first-of-type {
        padding-right: 50px;
      }

      &:last-of-type {
        padding-left: 50px;
      }
    }

    &_how {
      &-box {
        box-sizing: border-box;
        width: calc(50% - 50px);
        margin: 0;
      }

      &-paragraphs {
        box-sizing: border-box;
        width: calc(50% + 50px);
        padding-top: 25px;
        padding-left: 100px;
      }
    }

    &_image {
      margin: 50px 0;
    }

    &_food {
      margin-top: 50px;

      .wroclove-commune_subheader {
        margin-bottom: 50px;
      }

      &-text, &-image {
        box-sizing: border-box;
        width: 50%;
      }

      &-text {
        padding-bottom: 50px;
        padding-right: 50px;
      }

      &-image {
        margin: 0;
        padding-left: 50px;
      }
    }
  }
}