<div class="volunteering-adoption">
  <h2 class="volunteering-adoption_header">
    {{ page.adoption-header }}
  </h2>
  <div class="volunteering-adoption_text">
    <p>{{ page.adoption-text-1 }}</p>
    <p>{{ page.adoption-text-2 }}</p>
    <p>{{ page.adoption-text-3 }}</p>
    <p>{{ page.adoption-text-4 }}</p>
  </div>
  <div class="volunteering-adoption_contact">
    <p>{{ page.adoption-contact-intro }}</p>
    <a href="mailto:{{ page.adoption-contact }}">
      {{ page.adoption-contact }}
    </a>
  </div>
</div>
