<div class="volunteering-intro">
  <h1 class="volunteering-intro_header">
    {{ page.header }}
  </h1>
  <div class="volunteering-intro_text">
    <p class="volunteering-intro_text-big">
      {{ page.subheader }}
    </p>
    <div class="volunteering-intro_text-columns">
      <p class="volunteering-intro_text-columns_left">
        {{ page.text-1 }}
      </p>
      <p class="volunteering-intro_text-columns_right">
        {{ page.text-2 }}
      </p>
    </div>
  </div>
  <div class="volunteering-intro_image">
    <img src="{{ page.image }}" alt={{ page.image-alt }}/>
  </div>
</div>
