<div class="volunteering-other">
  <h2 class="volunteering-other_header">
    {{ page.other-header }}
  </h2>
  <p class="volunteering-other_text">
    {{ page.other-text }}
  </p>
  <ul class="volunteering-other_list">
    <li>{{ page.other-list-1 }}</li>
    <li>{{ page.other-list-2 }}</li>
    <li>{{ page.other-list-3 }}</li>
    <li>{{ page.other-list-4 }}</li>
  </ul>
  <div class="volunteering-other_contact">
    <p>{{ page.other-contact }}</p>
    <a href="mailto:{{ page.other-contact-mail }}">
      {{ page.other-contact-mail }}
    </a>
  </div>
</div>
