<div class="volunteering-other">
  <div class="volunteering-other_wrapper">
    <h2 class="volunteering-other_header">
      {{ page.other-header }}
    </h2>
    <div class="volunteering-other_columns">
      <div class="volunteering-other_columns-left">
        <p class="volunteering-other_text">
          {{ page.other-text }}
        </p>
        <ul class="volunteering-other_list">
          <li>{{ page.other-list-1 }}</li>
          <li>{{ page.other-list-2 }}</li>
          <li>{{ page.other-list-3 }}</li>
          <li>{{ page.other-list-4 }}</li>
        </ul>
      </div>
      <div class="volunteering-other_columns-right">
        <img src="{{ page.other-image }}" alt="{{ page.other-image-alt }}" />
      </div>
    </div>
    <div class="volunteering-other_contact">
      <p class="volunteering-other_contact-intro">
        {{ page.other-contact-intro }}
      </p>
      <p class="volunteering-other_contact-text">
        {{ page.other-contact-text }}
      </p>
      <a href="mailto:{{ page.other-contact-mail }}">
        {{ page.other-contact-mail }}
      </a>
    </div>
  </div>
</div>
