<div class="volunteering-shifts">
  <div class="volunteering-shifts_columns">
    <div class="volunteering-shifts_columns-left">
      <h2 class="volunteering-shifts_header">
        {{ page.shift-header }}
      </h2>
      <div class="volunteering-shifts_intro">
        <p>{{ page.shift-text-1 }}</p>
        <p>{{ page.shift-text-2 }}</p>
      </div>
    </div>
    <div class="volunteering-shifts_columns-right">
      <div class="volunteering-shifts_list">
        <p>{{ page.shift-list-intro }}:</p>
        <ul class="volunteering-shifts_list-items">
          <li>{{ page.shift-list-1 }}</li>
          <li>{{ page.shift-list-2 }}</li>
          <li>{{ page.shift-list-3 }}</li>
          <li>{{ page.shift-list-4 }}</li>
          <li>{{ page.shift-list-5 }}</li>
          <li>{{ page.shift-list-6 }}</li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="volunteering-shifts_points">
    <li class="volunteering-shifts_points-item">
      <img src="{{ page.shift-icon-1 }}" alt={{ page.shift-icon-1-alt }} />
      <p class="volunteering-shifts_points-item_text">
        {{ page.shift-point-1 }}
      </p>
      <p class="volunteering-shifts_points-item_details">
        {{ page.shift-details-1 }}
      </p>
    </li>
    <li class="volunteering-shifts_points-item">
      <img src="{{ page.shift-icon-2 }}" alt={{ page.shift-icon-2-alt }} />
      <p class="volunteering-shifts_points-item_text">
        {{ page.shift-point-2 }}
      </p>
      <p class="volunteering-shifts_points-item_details">
        {{ page.shift-details-2 }}
      </p>
    </li>
    <li class="volunteering-shifts_points-item">
      <img src="{{ page.shift-icon-3 }}" alt={{ page.shift-icon-3-alt }} />
      <p class="volunteering-shifts_points-item_text">
        {{ page.shift-point-3 }}
      </p>
      <p class="volunteering-shifts_points-item_details">
        {{ page.shift-details-3 }}
      </p>
    </li>
  </ul>
</div>
