<footer id="footer" class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="/assets/global/logo.png" alt="logo fundacji"/>
    </div>
    <div class="footer-data">
      <h2 class="footer-header">
        Fundacja Koci Zakątek
      </h2>
      <ul class="footer-list">
        <li class="footer-list_item">Wrocław</li>
        <li class="footer-list_item"><strong>NIP</strong>: 8992692671</li>
        <li class="footer-list_item"><strong>REGON</strong>: 021258044</li>
      </ul>
    </div>
    <div class="footer-contact">
      <ul class="footer-list">
        <li class="footer-list_item"><strong>Mail</strong>: adopcje@kocizakatek.pl</li>
        <li class="footer-list_item"><strong>Telefon</strong>: 123 456 789</li>
      </ul>
    </div>
  </div>
</footer>
