<header class="header">
  <h1 class="header-name">{{ page.name }}</h1>
  <nav class="header-nav">
    <div class="header-nav_icon">
      <div id="navTrigger" class="header-nav_icon-wrapper">
        <span class="icon icon-cross" data-function="close"></span>
        <span class="icon icon-menu" data-function="open"></span>
      </div>
    </div>
    <a class="header-nav_logo" href="{{ page.home-url }}">
      <img src="/assets/global/logo.png" alt="{{ page.logo-alt }}"/>
    </a>
    <ul id="navBox" class="header-nav_list">
      <li class="header-nav_item">
        <a 
          class="header-nav_item-link {% if page.url contains '/o-fundacji' or page.url contains '/en/about' %}active{% endif%}" 
          href="{{ page.menu-link-1 }}" 
          data-nav-link
        >
          {{ page.menu-1 }}
        </a>
      </li>
      <li class="header-nav_item">
        <a
          class="header-nav_item-link {% if page.url contains '/adopcje' or page.url contains '/en/adoptions' %}active{% endif%}"
          href="{{ page.menu-link-2 }}"
          data-nav-link
        >
          {{ page.menu-2 }}
        </a>
      </li>
      <li class="header-nav_item">
        <a
          class="header-nav_item-link {% if page.url contains '/jak-pomoc' or page.url contains '/en/help' %}active{% endif%}"
          href="{{ page.menu-link-3 }}"
          data-nav-link
        >
          {{ page.menu-3 }}
        </a>
      </li>
      <li class="header-nav_item">
        <a
          class="header-nav_item-link {% if page.url contains '/koty-we-wroclawiu' or page.url contains '/en/cats-in-wroclaw' %}active{% endif%}"
          href="{{ page.menu-link-4 }}"
          data-nav-link
        >
          {{ page.menu-4 }}
        </a>
      </li>
      <li class="header-nav_item">
        <a
          class="header-nav_item-link {% if page.url contains '/metamorfozy' or page.url contains '/en/metamorphosis' %}active{% endif%}"
          href="{{ page.menu-link-5 }}"
          data-nav-link
        >
          {{ page.menu-5 }}
        </a>
      </li>
      <li class="header-nav_item">
        <a
          class="header-nav_item-link {% if page.url contains '/faq' or page.url contains '/en/faq' %}active{% endif%}"
          href="{{ page.menu-link-6 }}"
          data-nav-link
        >
          {{ page.menu-6 }}
        </a>
      </li>
      <li class="header-nav_item">
        <a
          class="header-nav_item-link {% if page.url contains '/kontakt' or page.url contains '/en/contact' %}active{% endif%}"
          href="{{ page.menu-link-7 }}"
        >
          {{ page.menu-7 }}
        </a>
      </li>
    </ul>
    <a 
      href="{{ page.switcher-link }}" 
      class="header-nav_switch header-nav_switch--{{ page.language }}"
    >
      <span class="header-nav_switch-text header-nav_switch-text--pl">pl</span>
      <span class="header-nav_switch-text header-nav_switch-text--en">en</span>
    </a>
  </nav>
</header>

<script type="text/javascript">
  {% include mobile-nav.js %}
</script>
