<header class="header">
  <h1 class="header-name">
    {{ page.name }}
  </h1>
  <nav class="header-nav">
    <div class="header-nav_icon">
      <div id="navTrigger" class="header-nav_icon-wrapper">
        <span class="icon icon-cross"data-function="close"></span>
        <span class="icon icon-menu" data-function="open"></span>
      </div>
    </div>
    <a class="header-nav_logo" href="{{ page.home-url }}">
      <img src="/assets/global/logo.png" alt="{{ page.logo-alt }}"/>
    </a>
    <ul id="navBox" class="header-nav_list">
      <li class="header-nav_item">
        <a class="header-nav_item-link" href="#01">{{ page.menu-1 }}</a>
      </li>
      <li class="header-nav_item">
        <a class="header-nav_item-link" href="#02">{{ page.menu-2 }}</a>
      </li>
      <li class="header-nav_item">
        <a class="header-nav_item-link" href="#03">{{ page.menu-3 }}</a>
      </li>
      <li class="header-nav_item">
        <a class="header-nav_item-link" href="#04">{{ page.menu-4 }}</a>
      </li>
      <li class="header-nav_item">
        <a class="header-nav_item-link" href="#05">{{ page.menu-5 }}</a>
      </li>
      <li class="header-nav_item">
        <a class="header-nav_item-link" href="#06">{{ page.menu-6 }}</a>
      </li>
      <li class="header-nav_item">
        <a class="header-nav_item-link" href="#footer">{{ page.menu-7 }}</a>
      </li>
    </ul>
  </nav>
</header>

<script type="text/javascript">
  {% include mobile-nav.js %}
</script>
