.header {
  position: relative;
  width: 100%;
  background-color: $color-main;

  &-name {
    position: absolute;
    top: -100px;
  }

  &-nav {
    position: relative;
    z-index: 2;
    padding: 10px 0;

    &_icon {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 40px;
      height: 40px;
      overflow: hidden;

      &-wrapper {
        display: flex;
        align-items: center;
        position: relative;
        transform: translateX(-50px);
        transition: transform $transition;

        &--close {
          transform: none;
        }
      }

      .icon-menu {
        font-size: 40px;
        color: $color-white;
      }

      .icon-cross {
        margin-right: 10px;
        font-size: 35px;
        color: $color-white;
      }
    }

    &_logo {
      display: block;
      z-index: 4;
      width: 130px;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }

    &_list {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100px;
      left: 0;
      transform: translateX(-100%);
      z-index: 3;
      width: 100%;
      padding-bottom: 50px;
      padding-left: 0;
      list-style-type: none;
      background-color: $color-main;
      transition: transform $transition;

      &--opened {
        transform: none;
      }
    }

    &_item-link {
      display: block;
      padding: 25px 20px;
      font-size: 18px;
      text-decoration: none;
      color: $color-white;
    }

    &_switch {
      display: flex;
      position: absolute;
      top: 22px;
      right: 20px;
      opacity: .15;
      text-decoration: none;
      border: 1px solid $color-white;
      border-radius: 20px;
      cursor: pointer;

      &-text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        font-size: 12px;
        text-transform: uppercase;
        color: $color-white;
        border-radius: 20px;
        transition: $transition;
      }

      &--en .header-nav_switch-text--en,
      &--pl .header-nav_switch-text--pl { 
        background-color: $color-white;
        color: $color-main;
      }
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;

    &_icon {
      display: none;
    }

    &_logo {
      width: 190px;
      margin: 0;
      margin-right: 10px;
    }

    &_list {
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
      top: 0;
      transform: none;
      width: 100%;
      margin: 0;
      padding-bottom: 0;
    }

    &_item-link {
      position: relative;
      padding: 45px 12px;
      font-size: 14px;
      transition: $transition;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 5px;
        width: 0;
        background-color: $color-orange;
        transition: $transition;
      }

      &:hover {
        color: $color-orange;

        &::after {
          left: 0;
          width: 100%;
        }
      }
    }

    &_switch {
      align-self: flex-start;
      position: relative;
      top: 10px;
      right: 0;
      opacity: 0.12;

      &-text {
        width: 25px;
        height: 25px;
        font-size: 11px;
      }
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .header-nav {
    &_item-link {
      padding: 55px 15px;
      font-size: 16px;
    }
  }
}

@media (min-width: $breakpoint-4k) {
  .header-nav {
    &_list {
      margin-right: -55px;
    }

    &_switch {
      right: -55px;
    }
  }
}
