.container {
  max-width: 1440px;
  margin: 0 auto;
  color: $color-main;
}

.full {
  width: 100%;

  &--dark {
    background-color: $color-main;
    color: $color-white;
  }

  &--grey {
    background-color: $color-grey;
    color: $color-main;
  }
}
