@charset "utf-8";

@import
  "normalize",
  "variables",
  "typography",
  "layout",
  "buttons",
  "icons",
  "header",
  "footer"
;

@import
  "home/about-meet-us",
  "home/about-facebook",
  "home/about-actions",
  "home/adoptions-intro",
  "home/adoptions-process",
  "home/adoptions-cats",
  "home/help-donate",
  "home/help-carousel",
  "home/help-support",
  "home/wroclove-intro",
  "home/wroclove-numbers",
  "home/metamorphosis"
;

@import
  "about/intro",
  "about/people",
  "about/volunteers",
  "about/statute",
  "about/vision",
  "about/mission",
  "about/values",
  "about/actions",
  "about/homes",
  "about/education",
  "about/slides",
  "about/shelter",
  "about/protect",
  "about/support"
;

@import
  "wroclove/duty",
  "wroclove/shelter",
  "wroclove/safety",
  "wroclove/commune",
  "wroclove/card",
  "wroclove/foundations",
  "wroclove/support"
;

@import
  "volunteering/intro",
  "volunteering/shifts",
  "volunteering/transport",
  "volunteering/adoption",
  "volunteering/other",
  "volunteering/help"
;

@import
  "contact/data",
  "contact/form"
;
