<div id="01" class="wroclove-duty">
  <h1 class="wroclove-header">{{ page.header }}</h1>
  <div class="wroclove-duty_act">
    <div class="wroclove-duty_act-wrapper">
      <h2 class="wroclove-duty_header">
        {{ page.duty-header }}
      </h2>
      <h3 class="wroclove-duty_subheader">
        {{ page.duty-subheader-1 }}
      </h3>
      <p class="wroclove-duty_paragraph">
        {{ page.duty-act-1 }}
      </p>
      <p class="wroclove-duty_paragraph">
        {{ page.duty-act-2 }}
      </p>
      <a class="btn btn-small btn-orange" href="{{ page.duty-act-link }}">
        {{ page.duty-act-cta }}
      </a>
    </div>
    <div class="wroclove-duty_act-image">
      <img
        src="{{ page.duty-act-image }}"
        alt="{{ page.duty-act-alt }}"
      />
    </div>
  </div>
  <div class="wroclove-duty_program">
    <h3 class="wroclove-duty_subheader">
      {{ page.duty-subheader-2 }}
    </h3>
    <div class="wroclove-duty_program-wrapper">
      <p class="wroclove-duty_paragraph">
        {{ page.duty-program-1 }}
      </p>
      <p class="wroclove-duty_paragraph">
        {{ page.duty-program-2 }}
      </p>
    </div>
    <a class="btn btn-small btn-blue" href="{{ page.duty-program-link }}">
      {{ page.duty-program-cta }}
    </a>
  </div>
  <div class="wroclove-duty_free">
    <h3 class="wroclove-duty_subheader">
      {{ page.duty-subheader-3 }}
    </h3>
    <div class="wroclove-duty_free-wrapper">
      <div class="wroclove-duty_free-left">
        <p class="wroclove-duty_paragraph">
          {{ page.duty-free-1 }}
        </p>
        <p class="wroclove-duty_paragraph">
          {{ page.duty-free-2 }}
        </p>
      </div>
      <div class="wroclove-duty_free-right">
        <ul class="wroclove-duty_free-list">
          <li>
            <p class="wroclove-duty_free-contact">
              {{ page.duty-free-contact-1 }}
            </p>
            <p class="wroclove-duty_free-number">
              {{ page.duty-free-number-1 }}
            </p>
          </li>
          <li>
            <p class="wroclove-duty_free-contact">
              {{ page.duty-free-contact-2 }}
            </p>
            <p class="wroclove-duty_free-number">
              {{ page.duty-free-number-2 }}
            </p>
            <p class="wroclove-duty_free-detail">
              {{ page.duty-free-detail-2 }}
            </p>
            <p class="wroclove-duty_free-alert">
              {{ page.duty-free-alert-2 }}
            </p>
            <a class="btn btn-small btn-orange" href="{{ page.duty-free-link }}">
              {{ page.duty-free-cta }}
            </a>
          </li>
        </ul>
        <p class="wroclove-duty_paragraph">
          {{ page.duty-free-4 }}
        </p>
      </div>
    </div>
    <div class="wroclove-duty_free-image">
      <img
        src="{{ page.duty-free-image }}"
        alt="{{ page.duty-free-alt }}"
      />
    </div>
  </div>
  <div class="wroclove-duty_accident">
    <h3 class="wroclove-duty_subheader">{{ page.duty-subheader-4 }}</h3>
    <div class="wroclove-duty_accident-wrapper">
      <div class="wroclove-duty_accident-left">
        <p class="wroclove-duty_paragraph">{{ page.duty-accident-1 }}</p>
        <div class="wroclove-duty_accident-corpse">
          <p class="wroclove-duty_paragraph">{{ page.duty-accident-contact }}</p>
          <span class="blue">{{ page.duty-accident-number}}</span>
        </div>
        <p class="wroclove-duty_paragraph">{{ page.duty-accident-2 }}</p>
      </div>
      <p class="wroclove-duty_accident-right wroclove-duty_paragraph">
        {{ page.duty-accident-3 }}
      </p>
    </div> 
  </div>
</div>
