<div id="02" class="wroclove-safety">
  <h2 class="wroclove-safety_header">
    {{ page.safety-header }}
  </h2>
  <div class="wroclove-safety_problems">
    <div class="wroclove-safety_problems-text">
      <h3 class="wroclove-safety_subheader">
        {{ page.safety-subheader-1 }}
      </h3>
      <p class="wroclove-safety_paragraph">
        {{ page.safety-problems-text-1 }}:
      </p>
      <ul class="wroclove-safety_problems-list">
        <li>{{ page.safety-problems-list-1 }}</li>
        <li>{{ page.safety-problems-list-2 }}</li>
        <li>{{ page.safety-problems-list-3 }}</li>
        <li>{{ page.safety-problems-list-4 }}</li>
      </ul>
      <p class="wroclove-safety_problems-alert">
        {{ page.safety-problems-text-2 }}
      </p>
      <p class="wroclove-safety_paragraph">
        {{ page.safety-problems-text-3 }}
      </p>
    </div>
    <div class="wroclove-safety_problems-image">
      <img src="{{ page.safety-problems-img }}" alt="{{ page.safety-problems-alt }}"/>
    </div>
  </div>
  <div class="wroclove-safety_law">
    <h3 class="wroclove-safety_subheader">
      {{ page.safety-subheader-2 }}
    </h3>
    <div class="wroclove-safety_law-wrapper">
      <div class="wroclove-safety_law-left">
        <p class="wroclove-safety_paragraph">
          {{ page.safety-law-text-1 }}
        </p>
        <p class="wroclove-safety_paragraph">
          {{ page.safety-law-text-2 }}
        </p>
        <p class="wroclove-safety_paragraph">
          {{ page.safety-law-text-3 }}
        </p>
      </div>
      <div class="wroclove-safety_law-contact">
        <p class="wroclove-safety_paragraph">
          {{ page.safety-law-contact }}:
        </p>
        <ul class="wroclove-safety_law-list">
          <li>
            <p class="wroclove-safety_law-contact_text">{{ page.safety-law-contact-1 }}</p>
            <p class="wroclove-safety_law-contact_number">{{ page.safety-law-number-1 }}</p>
          </li>
          <li>
            <p class="wroclove-safety_law-contact_text">{{ page.safety-law-contact-2 }}</p>
            <p class="wroclove-safety_law-contact_number">{{ page.safety-law-number-2 }}</p>
            <a class="btn btn-small btn-orange" href="{{ page.safety-law-link }}">
              {{ page.safety-law-cta }}
            </a>
          </li>
        </ul>
        <p class="wroclove-safety_paragraph">
          {{ page.safety-law-contact-details }}
        </p>
      </div>
    </div>
  </div>
  <div class="wroclove-safety_wroclove">
    <div class="wroclove-safety_wroclove-text">
      <h3 class="wroclove-safety_subheader">
        {{ page.safety-subheader-3 }}
      </h3>
      <p class="wroclove-safety_paragraph">
        {{ page.safety-wroclove-text-1 }}
      </p>
      <a class="btn btn-small btn-blue" href="{{ page.safety-wroclove-link-1 }}">
        {{ page.safety-wroclove-cta-1 }}
      </a>
      <p class="wroclove-safety_paragraph">
        {{ page.safety-wroclove-text-2 }}
      </p>
      <div class="wroclove-safety_wroclove-docs">
        <a class="btn btn-small btn-bordered" href="{{ page.safety-wroclove-link-2 }}">
          {{ page.safety-wroclove-cta-2 }}
        </a>
        <p class="wroclove-safety_paragraph">
          {{ page.safety-wroclove-text-3 }}
        </p>
        <a class="btn btn-small btn-bordered" href="{{ page.safety-wroclove-link-3 }}">
          {{ page.safety-wroclove-cta-3 }}
        </a>
      </div>
    </div>
    <div class="wroclove-safety_wroclove-image">
      <img src="{{ page.safety-wroclove-img }}" alt="{{ page.safety-wroclove-alt }}"/>
    </div>
  </div>
</div>