<div id="02" class="wroclove-shelter">
  <h2 class="wroclove-shelter_header">
    {{ page.shelter-header }}
  </h2>
  <div class="wroclove-shelter_wrapper">
    <div class="wroclove-shelter_text">
      <p class="wroclove-shelter_paragraph">
        {{ page.shelter-text-1 }}
      </p>
      <div class="wroclove-shelter_box">
        <p class="wroclove-shelter_alert">{{ page.shelter-text-2 }}</p>
        <p class="wroclove-shelter_paragraph">{{ page.shelter-text-3 }}</p>
      </div>
      <p class="wroclove-shelter_paragraph">
        {{ page.shelter-text-4 }}
      </p>
    </div>
    <div class="wroclove-shelter_image">
      <img src="{{ page.shelter-image }}" alt="{{ page.shelter-alt }}"/> 
    </div>
  </div>
</div>