backend:
  name: git-gateway
  branch: master
media_folder: "assets/images"
publish_mode: editorial_workflow
collections:
  - name: "post"
    label: "Post" # Used in the UI, ie.: "New Post"
    folder: "_posts" # The path to the folder where the documents are stored
    sort: "date:desc" # Default is title:asc
    create: true # Allow users to create new documents in this collection
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields: # The fields each document in this collection have
      - label: "Layout"
        name: "layout"
        widget: "hidden"
        default: "post"
      - label: "Title"
        name: "title"
        widget: "string"
        tagname: "h1"
      - label: "Meta Description"
        name: "meta_description"
        widget: "string"
        required: false
      - label: "Author"
        name: "author"
        widget: "select"
        options: ["Edyta Gal"]
      - label: "Publish Date"
        name: "date"
        widget: "datetime"
        format: "YYYY-MM-DD HH:mm:ss"
      - label: "Intro Paragraph"
        name: "intro_paragraph"
        widget: "markdown"
        required: false
      - label: "Body"
        name: "body"
        widget: "markdown"
        required: false
      - label: "Categories"
        name: "categories"
        widget: "string"
        required: false
  -
    name: "cat"
    label: "Koty"
    label_singular: "Kot"
    sort: "date:desc"
    folder: "_cats"
    create: true
    slug: "{{slug}}"
    fields:
      - label: "Opublikowano"
        name: "published"
        widget: "boolean"
        default: true
      - label: "Data publikacji"
        name: "date"
        widget: "datetime"
        format: "YYYY-MM-DD HH:mm:ss"
      - label: "Imię kota"
        name: "name"
        widget: "string"
      - label: "Imię do adresu (małe litery, myślniki zamiast spacji i bez polskich znaków)"
        name: "slug"
        widget: "string"
      - label: "Płeć"
        name: "gender"
        widget: "select"
        options: ["kotka", "kocur"]
      - label: "Wiek"
        name: "age"
        widget: "string"
      - label: "Sterylizacja/kastracja"
        name: "fertility"
        widget: "select"
        options: ["tak", "nie"]
      - label: "Odrobaczenie"
        name: "deworming"
        widget: "select"
        options: ["tak", "nie"]
      - label: "Szczepienie"
        name: "grafting"
        widget: "select"
        options: ["tak", "nie"]
      - label: "Adres do formularza"
        name: "form"
        widget: "string"
      - label: "Status kota"
        name: "status"
        widget: "select"
        options: ["do adopcji", "adoptowany"]
      - label: "Zdjęcie główne"
        name: "photo"
        widget: "image"
        default: "/assets/images/bruno-profile.jpg"
        allow_multiple: true
        media_library:
          config:
            multiple: true
      - label: "Galeria zdjęć"
        name: "photos"
        widget: "image"
        media_library:
          config:
            multiple: true
        required: false
      - label: "Opis"
        name: "description"
        widget: "markdown"
        required: false
  -
    name: "facebookPosts"
    label: "Posty na Facebooku"
    label_singular: "Post na Facebooku"
    folder: "_facebookPosts"
    create: true
    slug: "{{slug}}"
    fields:
      - label: "Opublikowano"
        name: "published"
        widget: "boolean"
        default: true
      - label: "Data publikacji"
        name: "date"
        widget: "datetime"
        format: "YYYY-MM-DD HH:mm:ss"
      - label: "Id posta"
        name: "id"
        widget: "string"
      - label: "Zdjęcie posta"
        name: "photo"
        widget: "image"
        default: "/assets/images/bruno-profile.jpg"
        public_folder: "/assets/images/facebook"
  - name: "page"
    label: "Page"
    folder: "pages"
    sort: "title:asc"
    create: false
    slug: "{{slug}}"
    fields:
      - {label: "Layout", name: "layout", widget: "hidden", default: "page"}
      - {label: "Title", name: "title", widget: "string", tagname: "h1"}
      - {label: "Meta Description", name: "meta_description", widget: "string", required: false}
      - {label: "Permalink", name: "permalink", widget: "hidden"}
      - {label: "Section", name: "section", widget: "hidden", default: "{{name}}"}
      - {label: "Intro Paragraph", name: "intro_paragraph", widget: "markdown", required: false}
      - {label: "Body", name: "body", widget: "markdown", required: false}
  - name: "fb-posts"
    label: "Posty na facebooku"
    folder: "_fb-posts/"
    create: true
    editor:
      preview: false
    fields:
      - { label: 'ID posta', name: 'id', widget: 'string', required: true }
      - { label: 'Adres zdjęcia', name: 'img', widget: 'string', required: true }
