.temporary-join {
  box-sizing: border-box;
  width: 100%;

  &_subheader {
    margin: 0 auto;
		font-weight: 800;
	}

	&-wrapper {
    padding: 0 20px;
  }

  &_paragraph {
    margin: 0;
    padding-top: 15px;
    font-size: 16px;
    line-height: 26px;
    font-weight: $font-weight-normal;
    color: $color-main;
  }

  &-box {
    margin-top: 30px;
    padding: 0px 20px;
    border: 1px solid $color-blue;
    border-radius: 8px;

    p {
      margin: 0;
      padding-top: 10px;
    }

    ul {
      padding-left: 20px;

      li {
        padding-top: 5px;
      }
    } 

    .btn {
      width: 80%;
      margin: 25px auto;
      font-size: 14px;
      text-align: center;
    }
  }

  &-image img {
    margin-top: 20px;
    width: 100%;
  }
}

@media (min-width: $breakpoint-xs) {
  .temporary-join {
    padding: 0px 20px;

    &_subheader {
      margin: 0 40px;
    }

    &_paragraph,
    &-box {
      padding: 0;
      margin: 40px;
    }

    &-wrapper {
      padding: 0;

      &_paragraph:first-of-type {
        padding-top: 40px;
      }
    }
    .btn {
      width: 80%;
    }
    &-box {
      padding: 20px 0;
      padding-top: 30px;

      p {
        padding: 0 20px;
      }

      ul {
        margin: 15px 20px;
      }
    }

    &-image {
      margin: 40px 0;
      padding-bottom: 30px;
      height: 340px;
      overflow: hidden;
      border-radius: 8px;

      img {
        width: 100%;
        border-radius: 8px;
      }
    }
  }
}

@media (min-width: $breakpoint-sm) {
  .temporary-join {
    padding: 0 60px;

    &-wrapper > * {
      margin-left: 0;
      margin-right: 0;
    }

    &-box {
      margin: 40px 30px 30px 30px;
      padding-top: 30px;
    }

    &-image {
      height: 370px;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .temporary-join {
    padding: 0 80px;

    &-wrapper > * {
      margin-left: 0;
      margin-right: 0;
    }

    &-box {
      margin: 40px 50px 30px 50px;
    }

    &-image {
      height: 400px;
    }

    // .btn {
    //   width: 300px;
    //   padding: 15px 20px;
    //   font-size: 16px;
    //   text-align: center;
    // }
  }
}

@media (min-width: $breakpoint-md) {
  .temporary-join {
    padding-top: 50px;

    &-box {
			width: 50%;
			margin: 40px auto;
		}
  }
}

@media (min-width: $breakpoint-lg) {
	.temporary-join {
		padding-top: 80px;
		&_subheader {
			font-size: 32px;
		}

		&_paragraph {
			width: 60%;
			margin: 20px auto;
			justify-content: center;
		}
		
		&_paragraph:nth-child(2) {
			margin-top: 70px;
		}

		&-box {
			width: 50%;
			margin: 40px auto;
		}

	}

}
