<div class="about-actions">
  <div class="about-actions_wrapper">
    <h2 class="about-actions_header">{{ page.actions-intro }}</h2>
    <div class="about-actions_population">
      <div class="about-actions_population-columns">
        <div class="about-actions_population-columns_left">
          <h3 class="about-actions_subheader">{{ page.action-1-name }}</h3>
          <p class="about-actions_description">{{ page.action-1-description }}</p>
          <p class="about-actions_population-text">{{ page.action-1-text }}</p>
        </div>
        <div class="about-actions_population-columns_right">
          <img src="/assets/about/actions-population.jpeg" alt="{{ page.action-1-alt }}">
        </div>
      </div>
      <ul class="about-actions_population-list">
        <li class="about-actions_population-list_item">
          <div>
            <img src="/assets/about/actions-icon-box.png" alt="{{ page.action-1-icon-1 }}">
            <h4 class="about-actions_population-list_item-name">{{ page.action-1-schema-1 }}</h4>
            <p class="about-actions_population-list_item-text">{{ page.action-1-point-1 }}</p>
          </div>
        </li>
        <li class="about-actions_population-list_item">
          <div>
            <img src="/assets/about/actions-icon-cure.png" alt="{{ page.action-1-icon-2 }}">
            <h4 class="about-actions_population-list_item-name">{{ page.action-1-schema-2 }}</h4>
            <p class="about-actions_population-list_item-text">{{ page.action-1-point-2 }}</p>
          </div>
        </li>
        <li class="about-actions_population-list_item">
          <div>
            <img src="/assets/about/actions-icon-care.png" alt="{{ page.action-1-icon-3 }}">
            <h4 class="about-actions_population-list_item-name">{{ page.action-1-schema-3 }}</h4>
            <p class="about-actions_population-list_item-text">{{ page.action-1-point-3 }}</p>
          </div>
        </li>
        <li class="about-actions_population-list_item">
          <div>
            <img src="/assets/about/actions-icon-home.png" alt="{{ page.action-1-icon-4 }}">
            <h4 class="about-actions_population-list_item-name">{{ page.action-1-schema-4 }}</h4>
            <p class="about-actions_population-list_item-text">{{ page.action-1-point-4 }}</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="about-actions_cure">
      <h3 class="about-actions_subheader">{{ page.action-2-name }}</h3>
      <p class="about-actions_description">{{ page.action-2-description }}</p>
      <div class="about-actions_cure-columns">
        <div class="about-actions_cure-columns_left">
          <div class="about-actions_cure-columns_left-box">
            <p>{{ page.action-2-list-intro }}:</p>
            <ul class="about-actions_cure-list">
              <li>{{ page.action-2-list-1 }}</li>
              <li>{{ page.action-2-list-2 }}</li>
              <li>{{ page.action-2-list-3 }}</li>
              <li>{{ page.action-2-list-4 }}</li>
              <li>{{ page.action-2-list-5 }}</li>
              <li>{{ page.action-2-list-6 }}</li>
              <li>{{ page.action-2-list-7 }}</li>
              <li>{{ page.action-2-list-8 }}</li>
            </ul>
          </div>
        </div>
        <p class="about-actions_cure-columns_right">
          {{ page.action-2-text }}
        </p>
        <div class="about-actions_cure-image">
          <img src="/assets/about/actions-cure.png" alt="{{ page.action-2-alt }}"/>
        </div> 
      </div>
    </div>
  </div>
</div>
