<div class="about-education">
  <div class="about-education_wrapper">
    <h3 class="about-actions_subheader">{{ page.action-4-intro }}</h3>
    <p class="about-actions_description">{{ page.action-4-description }}</p>
    <div class="about-education_columns">
      <div class="about-education_columns-left">
        <p class="about-education_text">{{ page.action-4-text-1 }}</p>
        <p class="about-education_alert">{{ page.action-4-text-2 }}</p>
      </div>
      <div class="about-education_columns-right">
        <div class="about-education_box">
          <p>{{ page.action-4-list-intro}}:</p>
          <ul class="about-education_list">
            <li>{{ page.action-4-list-1 }}</li>
            <li>{{ page.action-4-list-2 }}</li>
            <li>{{ page.action-4-list-3 }}</li>
            <li>{{ page.action-4-list-4 }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="about-education_columns">
      <div class="about-education_columns-left">
        <p class="about-education_campaigns">{{ page.action-4-campaigns }}:</p>
        <ul class="about-education_campaigns-list">
          <li>{{ page.action-4-campaigns-1 }}</li>
          <li>{{ page.action-4-campaigns-2 }}</li>
          <li>{{ page.action-4-campaigns-3 }}</li>
          <li>{{ page.action-4-campaigns-4 }}</li>
        </ul>
      </div>
      <div class="about-education_columns-right about-education_columns-posters">
        <div class="about-education_posters-poster">
          <img src="/assets/about/education-poster-2-prev.jpg" alt="alt" />
          <div class="about-education_posters-poster_shadow">
            <img src="/assets/about/education-icon-zoom.png" alt="alt" />
          </div>
        </div>
        <div class="about-education_posters-poster">
          <img src="/assets/about/education-poster-3-prev.jpg" alt="alt" />
          <div class="about-education_posters-poster_shadow">
            <img src="/assets/about/education-icon-zoom.png" alt="alt" />
          </div>
        </div>
      </div>
    </div>
    <div class="about-education_posters">
      <div class="about-education_posters-poster">
        <img src="/assets/about/education-poster-1-prev.jpg" alt="alt" />
        <div class="about-education_posters-poster_shadow">
          <img src="/assets/about/education-icon-zoom.png" alt="alt" />
        </div>
      </div>
      <div class="about-education_posters-poster">
        <img src="/assets/about/education-poster-4-prev.jpg" alt="alt" />
        <div class="about-education_posters-poster_shadow">
          <img src="/assets/about/education-icon-zoom.png" alt="alt" />
        </div>
      </div>
      <div class="about-education_posters-poster">
        <img src="/assets/about/education-poster-5-prev.jpg" alt="alt" />
        <div class="about-education_posters-poster_shadow">
          <img src="/assets/about/education-icon-zoom.png" alt="alt" />
        </div>
      </div>
      <div class="about-education_posters-poster">
        <img src="/assets/about/education-poster-6-prev.jpg" alt="alt" />
        <div class="about-education_posters-poster_shadow">
          <img src="/assets/about/education-icon-zoom.png" alt="alt" />
        </div>
      </div>
      <div class="about-education_posters-poster">
        <img src="/assets/about/education-poster-7-prev.jpg" alt="alt" />
        <div class="about-education_posters-poster_shadow">
          <img src="/assets/about/education-icon-zoom.png" alt="alt" />
        </div>
      </div>
      <div class="about-education_posters-poster">
        <img src="/assets/about/education-poster-8-prev.jpg" alt="alt" />
        <div class="about-education_posters-poster_shadow">
          <img src="/assets/about/education-icon-zoom.png" alt="alt" />
        </div>
      </div>
      <div class="about-education_posters-poster">
        <img src="/assets/about/education-poster-9-prev.jpg" alt="alt" />
        <div class="about-education_posters-poster_shadow">
          <img src="/assets/about/education-icon-zoom.png" alt="alt" />
        </div>
      </div>
      <div class="about-education_posters-poster">
        <img src="/assets/about/education-poster-10-prev.jpg" alt="alt" />
        <div class="about-education_posters-poster_shadow">
          <img src="/assets/about/education-icon-zoom.png" alt="alt" />
        </div>
      </div>
    </div>
  </div>
</div>
