<div class="about-homes">
  <div class="about-homes_wrapper">
    <h3 class="about-actions_subheader">{{ page.action-3-name }}</h2>
    <p class="about-actions_description">{{ page.action-3-description }}</p>
    <ul class="about-homes_list">
      <li class="about-homes_list-item">
        <div class="about-homes_list-item_icon">
          <img src="/assets/about/actions-icon-prepare.png" alt="{{ page.action-3-alt-1 }}"/>
        </div>
        <h4 class="about-homes_list-item_name">{{ page.action-3-point-1 }}</h3>
        <p class="about-homes_list-item_text">{{ page.action-3-text-1 }}</p>
      </li>
      <li class="about-homes_list-item">
        <div class="about-homes_list-item_icon">
          <img src="/assets/about/actions-icon-prepare.png" alt="{{ page.action-3-alt-2 }}"/>
        </div>
        <h4 class="about-homes_list-item_name">{{ page.action-3-point-2 }}</h3>
        <p class="about-homes_list-item_text">{{ page.action-3-text-2 }}</p>
      </li>
      <li class="about-homes_list-item">
        <div class="about-homes_list-item_icon">
          <img src="/assets/about/actions-icon-prepare.png" alt="{{ page.action-3-alt-3 }}"/>
        </div>
        <h4 class="about-homes_list-item_name">{{ page.action-3-point-3 }}</h3>
        <p class="about-homes_list-item_text">{{ page.action-3-text-3 }}</p>
      </li>
    </ul>
  </div>
</div>
