<div class="about-intro">
  <div class="about-intro_wrapper">
    <div class="about-intro_content">
      <h1 class="about-intro_header">{{ page.about-intro }}</h1>
      <div class="about-intro_quote">
        <span class="icon-quotes-left"></span>
        <p class="about-intro_quote-text">{{ page.about-text-1 }}</p>
      </div>
      <p class="about-intro_text">{{ page.about-text-2 }}</p>
      <p class="about-intro_text">{{ page.about-text-3 }}</p>
      <p class="about-intro_clue">{{ page.about-text-4 }}</p>
    </div>
    <div class="about-intro_image">
      <img src="/assets/about/intro.png" alt="{{ page.about-alt }}"/>
    </div>
  </div>
</div>