<div class="about-mission">
  <div class="about-mission_wrapper">
    <h2 class="about-mission_header">{{ page.mission-intro }}</h2>
    <ul class="about-mission_list">
      <li class="about-mission_list-item">
        <div class="about-mission_list-item_image">
          <img src="/assets/about/mission-1.jpg" alt="{{ page.mission-alt-1 }}"/>
        </div>
        <h3 class="about-mission_list-item_name">{{ page.mission-name-1 }}</h3>
        <p class="about-mission_list-item_text">{{ page.mission-text-1 }}</p>
      </li>
      <li class="about-mission_list-item">
        <div class="about-mission_list-item_image">
          <img src="/assets/about/mission-2.jpg" alt="{{ page.mission-alt-2 }}"/>
        </div>
        <h3 class="about-mission_list-item_name">{{ page.mission-name-2 }}</h3>
        <p class="about-mission_list-item_text">{{ page.mission-text-2 }}</p>
      </li>
      <li class="about-mission_list-item">
        <div class="about-mission_list-item_image">
          <img src="/assets/about/mission-3.jpg" alt="{{ page.mission-alt-3 }}"/>
        </div>
        <h3 class="about-mission_list-item_name">{{ page.mission-name-3 }}</h3>
        <p class="about-mission_list-item_text">{{ page.mission-text-3 }}</p>
      </li>
    </ul>
  </div>
</div>
