<div class="about-people">
  <div class="about-people_wrapper">
    <h2 class="about-people_header">{{ page.people-intro }}</h1>
    <ul class="about-people_columns">
      <li class="about-people_person">
        <div class="about-people_person-image">
          <img src="/assets/about/people-edyta.jpg" alt="{{ page.people-name-1 }}"/>
        </div>
        <div class="about-people_person-data">
          <h3 class="about-people_person-name">{{ page.people-name-1 }}</h3>
          <div class="about-people_person-quote">
            <span class="icon-quotes-left"></span>
            <p class="about-people_person-quote_text">{{ page.people-text-1 }}</p>
          </div>
        </div>
      </li>
      <li class="about-people_person">
        <div class="about-people_person-image">
          <img src="/assets/about/people-iwona.jpg" alt="{{ page.people-name-2 }}"/>
        </div>
        <div class="about-people_person-data">
          <h3 class="about-people_person-name">{{ page.people-name-2 }}</h3>
          <div class="about-people_person-quote">
            <span class="icon-quotes-left"></span>
            <p class="about-people_person-quote_text">{{ page.people-text-2 }}</p>
          </div>
        </div>
      </li>
      <li class="about-people_person">
        <div class="about-people_person-image">
          <img src="/assets/about/people-kasia.jpg" alt="{{ page.people-name-3 }}"/>
        </div>
        <div class="about-people_person-data">
          <h3 class="about-people_person-name">{{ page.people-name-3 }}</h3>
          <div class="about-people_person-quote">
            <span class="icon-quotes-left"></span>
            <p class="about-people_person-quote_text">{{ page.people-text-3 }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>