<div class="about-shelter">
  <div class="about-shelter_wrapper">
    <h2 class="about-shelter_header">{{ page.shelter-intro }}</h2>
    <div class="about-shelter_columns">
      <div class="about-shelter_columns-left">
        <p class="about-shelter_description">{{ page.shelter-text-1 }}</p>
        <p class="about-shelter_text">
          {{ page.shelter-text-2 }}
        </p>
      </div>
      <div class="about-shelter_columns-right">
        <img src="/assets/about/shelter-1.jpeg" alt="{{ page.shelter-alt }}" />
      </div>
    </div>
    <div class="about-shelter_standards">
      <h3 class="about-shelter_standards-header">{{ page.shelter-list-intro }}:</h3>
      <ul class="about-shelter_standards-list">
        <li>
          <span class="about-shelter_standards-list_number">01</span>
          <p class="about-shelter_standards-list_text">
            <span>{{ page.shelter-list-1 }}</span>
            {{ page.shelter-point-1 }}
          </p>
        </li>
        <li>
          <span class="about-shelter_standards-list_number">02</span>
          <p class="about-shelter_standards-list_text">
            <span>{{ page.shelter-list-2 }}</span>
            {{ page.shelter-point-2 }}
          </p>
        </li>
        <li>
          <span class="about-shelter_standards-list_number">03</span>
          <p class="about-shelter_standards-list_text">
            <span>{{ page.shelter-list-3 }}</span>
            {{ page.shelter-point-3 }}
          </p>
        </li>
        <li>
          <span class="about-shelter_standards-list_number">04</span>
          <p class="about-shelter_standards-list_text">
            <span>{{ page.shelter-list-4 }}</span>
            {{ page.shelter-point-4 }}
          </p>
        </li>
      </ul>
    </div>
    <div class="about-shelter_image">
      <img src="/assets/about/shelter-2.jpeg" alt="{{ page.shelter-alt }}"/>
    </div>
    <div class="about-shelter_columns about-shelter_columns--styled">
      <div class="about-shelter_columns-left">
        <p class="about-shelter_text">{{ page.shelter-text-3 }}</p>
      </div>
      <div class="about-shelter_columns-right">
        <img src="/assets/about/shelter-3.jpg" alt="{{ page.shelter-alt }}"/>
      </div>
    </div>
    <div class="about-shelter_columns about-shelter_columns--inverted"> 
      <div class="about-shelter_columns-left">
        <img src="/assets/about/shelter-4.jpg" alt="{{ page.shelter-alt }}"/>
      </div>
      <div class="about-shelter_columns-right">
        <div class="about-shelter_box">
          <p class="about-shelter_box-intro">
            {{ page.shelter-volunteers-intro }}:
          </p>
          <ul class="about-shelter_box-list">
            <li>{{ page.shelter-volunteers-1 }}</li>
            <li>{{ page.shelter-volunteers-2 }}</li>
            <li>{{ page.shelter-volunteers-3 }}</li>
            <li>{{ page.shelter-volunteers-4 }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="about-shelter_summary">
      <p class="about-shelter_summary-text">
        {{ page.shelter-text-4 }}
      </p>
      <a class="btn btn-big btn-orange" href="{{ page.shelter-link }}">
        {{ page.shelter-cta}}
      </a>
    </div>
    <div class="about-shelter_image">
      <img src="/assets/about/shelter-5.jpg" alt="{{ page.shelter-alt }}"/>
    </div>
  </div>
</div>
