<div class="about-slides">
  <div class="about-slides_columns">
    <div class="about-slides_columns-left">
      <p>{{ page.action-4-text-3 }}</p>
      <p>{{ page.action-4-text-4 }}</p>
    </div>
    <div class="about-slides_columns-right">
      <div class="about-slides_columns-right_wrapper">
        <ul class="about-slides_carousel" slides>
          <li class="about-slides_carousel-item active" tab-active data-tab-index="0">
            <img class="about-slides_carousel-item_img" src="/assets/about/slides-1.png" alt="slide" />
          </li>
          <li class="about-slides_carousel-item" data-tab-index="1">
            <img class="about-slides_carousel-item_img" src="/assets/about/slides-2.png" alt="slide" />
          </li>
          <li class="about-slides_carousel-item" data-tab-index="2">
            <img class="about-slides_carousel-item_img" src="/assets/about/slides-3.png" alt="slide" />
          </li>
          <li class="about-slides_carousel-item" data-tab-index="3">
            <img class="about-slides_carousel-item_img" src="/assets/about/slides-4.png" alt="slide" />
          </li>
          <li class="about-slides_carousel-item" data-tab-index="4">
            <img class="about-slides_carousel-item_img" src="/assets/about/slides-5.png" alt="slide" />
          </li>
          <li class="about-slides_carousel-item" data-tab-index="5">
            <img class="about-slides_carousel-item_img" src="/assets/about/slides-6.png" alt="slide" />
          </li>
          <li class="about-slides_carousel-item" data-tab-index="6">
            <img class="about-slides_carousel-item_img" src="/assets/about/slides-7.png" alt="slide" />
          </li>
          <li class="about-slides_carousel-item" data-tab-index="7">
            <img class="about-slides_carousel-item_img" src="/assets/about/slides-8.png" alt="slide" />
          </li>
          <li class="about-slides_carousel-item" data-tab-index="8">
            <img class="about-slides_carousel-item_img" src="/assets/about/slides-9.png" alt="slide" />
          </li>
          <li class="about-slides_carousel-item" data-tab-index="9">
            <img class="about-slides_carousel-item_img" src="/assets/about/slides-10.png" alt="slide" />
          </li>
          <li class="about-slides_carousel-item" data-tab-index="10">
            <img class="about-slides_carousel-item_img" src="/assets/about/slides-11.png" alt="slide" />
          </li>
          <li class="about-slides_carousel-item" data-tab-index="11">
            <img class="about-slides_carousel-item_img" src="/assets/about/slides-12.png" alt="slide" />
          </li>
          <li class="about-slides_carousel-item" data-tab-index="12">
            <img class="about-slides_carousel-item_img" src="/assets/about/slides-13.png" alt="slide" />
          </li>
          <li class="about-slides_carousel-item" data-tab-index="13">
            <img class="about-slides_carousel-item_img" src="/assets/about/slides-14.png" alt="slide" />
          </li>
          <li class="about-slides_carousel-item" data-tab-index="14">
            <img class="about-slides_carousel-item_img" src="/assets/about/slides-15.png" alt="slide" />
          </li>
          <li class="about-slides_carousel-item" data-tab-index="15">
            <img class="about-slides_carousel-item_img" src="/assets/about/slides-16.png" alt="slide" />
          </li>
          <li class="about-slides_carousel-item" data-tab-index="16">
            <img class="about-slides_carousel-item_img" src="/assets/about/slides-17.png" alt="slide" />
          </li>
        </ul>
      </div>
      <div class="about-slides_carousel-bars" bars>
        <div class="about-slides_carousel-bars_item active" bar-active data-bar-index="0"></div>
        <div class="about-slides_carousel-bars_item" data-bar-index="1"></div>
        <div class="about-slides_carousel-bars_item" data-bar-index="2"></div>
        <div class="about-slides_carousel-bars_item" data-bar-index="3"></div>
        <div class="about-slides_carousel-bars_item" data-bar-index="4"></div>
        <div class="about-slides_carousel-bars_item" data-bar-index="5"></div>
        <div class="about-slides_carousel-bars_item" data-bar-index="6"></div>
        <div class="about-slides_carousel-bars_item" data-bar-index="7"></div>
        <div class="about-slides_carousel-bars_item" data-bar-index="8"></div>
        <div class="about-slides_carousel-bars_item" data-bar-index="9"></div>
        <div class="about-slides_carousel-bars_item" data-bar-index="10"></div>
        <div class="about-slides_carousel-bars_item" data-bar-index="11"></div>
        <div class="about-slides_carousel-bars_item" data-bar-index="12"></div>
        <div class="about-slides_carousel-bars_item" data-bar-index="13"></div>
        <div class="about-slides_carousel-bars_item" data-bar-index="14"></div>
        <div class="about-slides_carousel-bars_item" data-bar-index="15"></div>
        <div class="about-slides_carousel-bars_item" data-bar-index="16"></div>
      </div>
    </div>
    <div class="about-slides_carousel-nav">
      <div class="about-slides_carousel-nav_left disabled" nav-disabled nav-prev>
        <span class="about-slides_carousel-nav_left-arrow"></span>
      </div>
      <div class="about-slides_carousel-nav_right" nav-next>
        <span class="about-slides_carousel-nav_right-arrow"></span>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  {% include about/slides.js %}
</script>
