<div class="about-statute">
  <div class="about-statute_wrapper">
    <h2 class="about-statute_header">{{ page.why-intro }}</h2>
    <div class="about-statute_text">
      <p class="about-statute_text-left">{{ page.why-text-1 }}</p>
      <p class="about-statute_text-right">{{ page.why-text-2 }}</p>
    </div>
    <p class="about-statute_main">{{ page.why-statut-text }}</p>
    <a
      class="btn btn-big btn-blue"
      href="{{ page.why-statut-link }}"
      target="_blank"
      rel="nofollow"
    >
      {{ page.why-statut-cta }}
    </a>
  </div>
</div>