<div class="about-values">
  <div class="about-values_wrapper">
    <h2 class="about-values_header">{{ page.values-intro }}</h2>
    <ul class="about-values_list">
      <li class="about-values_value">
        <span class="about-values_value-number">01</span>
        <p class="about-values_value-text">{{ page.values-text-1 }}</p>
      </li>
      <li class="about-values_value">
        <span class="about-values_value-number">02</span>
        <p class="about-values_value-text">{{ page.values-text-2 }}</p>
      </li>
      <li class="about-values_value">
        <span class="about-values_value-number">03</span>
        <p class="about-values_value-text">{{ page.values-text-3 }}</p>
      </li>
    </ul>
    <img class="about-values_image" src="/assets/about/values.jpeg" alt="{{ page.values-alt }}"/>
  </div>
</div>
