.home-meetus {
  padding-top: 25px;
  margin-bottom: 50px;

  &_text {
    padding: 0 20px;

    &-header {
      font-size: 32px;
      line-height: 48px;
      font-weight: $font-weight-extrabold;
      color: $color-main;
    }

    &-paragraph {
      font-size: 18px;
      line-height: 32px;

      strong {
        font-weight: $font-weight-bolder;
      }
    }

    &-platform {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;

      &_paragraph {
        box-sizing: border-box;
        width: 60%;
        font-size: 14px;
        line-height: 24px;
      }

      &_image {
        box-sizing: border-box;
        width: 40%;
        max-width: 140px;

        img {
          width: 100%;
        }
      }
    }
  }

  &_image {
    box-sizing: border-box;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;

    img {
      width: 100%;
    }
  }
}

@media (min-width: $breakpoint-xs) {
  .home-meetus {
    &_text {
      padding: 0 60px;
    }

    &_image {
      padding: 0 20px;

      img {
        border-radius: 30px;
      }
    }
  }
}

@media (min-width: $breakpoint-sm) {
  .home-meetus {
    &_text-platform_paragraph {
      font-size: 16px;
      line-height: 28px;
    }

    &_image {
      padding: 0 60px;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .home-meetus {
    margin-bottom: 100px;

    &_text {
      padding: 0 80px;

      &-header {
        font-size: 48px;
        line-height: 60px;
      }

      &-platform_image {
        box-sizing: border-box;
        padding-right: 20px;
      }
    }

    &_image {
      margin-top: 50px;
      padding: 0 80px;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .home-meetus {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
    padding-top: 120px;

    &_text, &_image {
      box-sizing: border-box;
      width: 50%;
    }

    &_text {
      max-width: 630px;
      padding-right: 0;

      &-header {
        margin-top: 0;
      }
    }

    &_image {
      margin-top: 0;
      padding: 0 25px;
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .home-meetus {
    &_text-header {
      font-size: 60px;
      line-height: 80px;
    }

    &_image {
      padding: 0;
      padding-right: 50px;
    }
  }
}
