.home-actions {
  padding: 50px 20px;

  &_list {
    padding-left: 0;
    list-style-type: none;
  }

  &_header {
    font-size: 32px;
    line-height: 48px;
    font-weight: $font-weight-extrabold;
  }

  &_icon {
    width: 170px;
  }

  &_title {
    font-size: 24px;
    line-height: 36px;
    font-weight: $font-weight-normal;
  }

  &_text {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 26px;
    font-weight: $font-weight-light;
  }

  .btn {
    width: 235px;
  }
}

@media (min-width: $breakpoint-xs) {
  .home-actions {
    padding: 50px 60px;
  }
}

@media (min-width: $breakpoint-sm) {
  .home-actions {
    &_header {
      margin-bottom: 60px;
    }

    &_list {
      display: flex;
      flex-flow: row wrap;
    }

    &_action {
      box-sizing: border-box;
      width: 50%;
      padding-right: 25px;
    }

    &_icon {
      width: auto;
      height: 150px;
    }

    &_text {
      max-width: 340px;
      margin-bottom: 50px;
    }

    .btn {
      width: 290px;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .home-actions {
    padding: 100px 80px;

    &_header {
      font-size: 48px;
      line-height: 60px;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .home-actions {
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

    &_list {
      flex-wrap: nowrap;
    }

    &_action {
      width: 25%;
    }

    &_title {
      margin: 40px 0;
    }

    &_text {
      max-width: 220px;
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .home-actions_header {
    font-size: 60px;
    line-height: 80px;
  }
}
