.home-cats {
  box-sizing: border-box;
  width: 100%;
  margin: 70px 0 50px;
  padding: 0 20px;

  &_header {
    margin: 0;
    font-size: 28px;
    line-height: 40px;
    font-weight: $font-weight-extrabold;
    color: $color-main;
  }

  &_list {
    margin: 40px 0 30px;
    padding-left: 0;
    list-style-type: none;
  }

  &_cat {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;

    &--fourth {
      display: none;
    }

    &-image {
      box-sizing: border-box;
      z-index: 1;
      width: 100%;
      border-radius: 100%;

      img {
        width: 100%;
      }
    }

    &-cover, &-background {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      height: 100%;
      width: 100%;
      transition: $transition-long;
      will-change: transform;
    }

    &-cover {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 40px 0 30px;
    }

    &-background {
      background-color: white;
      opacity: .6;
    }

    &-name {
      margin: 0;
      font-size: 28px;
      line-height: 40px;
      font-weight: $font-weight-extrabold;
      color: $color-orange;
      text-shadow: 1px 2px 2px $color-main;
    }

    &-spec {
      padding-left: 0;
      list-style-type: none;
      font-size: 14px;
      line-height: 16px;
      color: $color-main;
    }

    .btn-mini {
      position: relative;

      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 21px;
        left: 19px;
        transform: rotate(-45deg);
        padding: 3px;
        border: solid $color-main;
        border-width: 0 3px 3px 0;
      }
    }

    &:hover .home-cats_cat {
      &-cover, &-background {
        transform: none;
      }
    }
  }

  .btn-orange {
    width: 140px;
  }
}

@media (min-width: $breakpoint-xs) {
  .home-cats {
    padding: 0 60px;
  }
}

@media (min-width: $breakpoint-sm) {
  .home-cats {
    padding: 0 50px;

    &_header {
      padding: 0 10px;
    }

    &_list {
      display: flex;
      flex-flow: row wrap;
    }

    &_cat {
      box-sizing: border-box;
      width: 50%;
      padding: 0 10px;

      &--fourth {
        display: block;
      }
    }

    .btn-orange {
      width: 170px;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .home-cats {
    padding: 0 70px;

    &_header {
      font-size: 36px;
      line-height: 50px;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .home-cats_cat {
    width: 33.3%;

    &--fourth {
      display: none;
    }

    &-spec {
      padding-left: 0;
      list-style-type: none;
      font-size: 16px;
      line-height: 28px;
      color: $color-main;
    }
  }
}
