<div class="temporary-conditions">
  <h1 class="temporary-header">{{ page.header }}</h1>
  <div class="temporary-list">
    <p>{{ page.conditions-list }}:</p>
    <ul class="temporary-list_items">
      <li>{{ page.conditions-list-1 }}</li>
      <li>{{ page.conditions-list-2 }}</li>
      <li>{{ page.conditions-list-3 }}</li>
      <li>{{ page.conditions-list-4 }}</li>
    </ul>
  </div>
  <div class="temporary-conditions">
    <div class="temporary-conditions_columns">
      <h2 class="temporary-conditions_header">
        {{ page.conditions-header }}
      </h2>
      <p class="temporary-conditions_point-text">
        {{ page.conditions-point-list }}
      </p>
      <ul class="temporary-conditions_point-items">
        <li>{{ page.conditions-point-list-1 }}</li>
        <li>{{ page.conditions-point-list-2 }}</li>
        <li>{{ page.conditions-point-list-3 }}</li>
        <li>{{ page.conditions-point-list-4 }}</li>
      </ul>

      <p class="temporary-conditions_text">
        {{ page.conditions-text }}
      </p>
    </div>
    <div class="temporary-conditions_point">
      <p class="temporary-conditions_point-intro">
        {{ page.conditions-point }}
      </p>
      
    </div>
  </div>
</div>
