<div class="container">

  <div class="temporary-duration">
    <div class="temporary-duration-wrapper">
      <div class="temporary-duration_left">
        <p class="temporary-duration_paragraph">{{page.duration-text-1}}</p>
        <p class="temporary-duration_paragraph">{{page.duration-text-2}}</p>
      </div>
      <div class="temporary-duration_right">
        <div class="temporary-duration_frame">
          <p class="temporary-duration_paragraph">{{page.duration-text-3}}</p>
        </div>
        <p class="temporary-duration_paragraph">{{page.duration-text-4}}</p>
      </div>
    </div>
    <div class="temporary-duration-image">
      <img src="{{page.duration-img}}" alt="{{page.duration-alt}}"></div>
    </div>
  </div>
