<div class="temporary-join">
    <div class="temporary-join-wrapper">
        <h2 class="temporary-join_subheader">{{page.join-subheader}}</h3>
        <p class="temporary-join_paragraph">{{page.join-text-1}}</p>
        <p class="temporary-join_paragraph">{{page.join-text-2}}</p>
        <div class="temporary-join-box">
            <p class="temporary-join_paragraph">{{page.join-text-3}}</p>
            <ul class="temporary-join-list">
                <li class="temporary-join-list-item">{{page.join-list-1}}
                </li>
                <li class="temporary-join-list-item">{{page.join-list-2}}
                </li>
                <li class="temporary-join-list-item">{{page.join-list-3}}
                </li>
                <li class="temporary-join-list-item">{{page.join-list-4}}
                </li>
            </ul>
            
            <a href="#" class="btn btn-small btn-blue">{{page.join-cta}}</a>
        </div>
    </div>
    <div class="temporary-join-image"><img src="{{page.join-img}}" alt="{{page.join-alt}}"></div>
</div>
