<div class="temporary-process">
  <div class="temporary-process_columns">
    <div class="temporary-process_columns-left">
      <h2 class="temporary-process_header">
        {{ page.process-header }}
      </h2>
      <div class="temporary-process_text">
        <p>{{ page.process-text-1 }}</p>
        <p>{{ page.process-text-2 }}</p>
      </div>
      <div class="temporary-process_list">
        <p>{{ page.process-list }}:</p>
        <ul class="temporary-process_list-items">
          <li>{{ page.process-list-1 }}</li>
          <li>{{ page.process-list-2 }}</li>
          <li>{{ page.process-list-3 }}</li>
          <li>{{ page.process-list-4 }}</li>
        </ul>
        <a href="{{ page.process.link }}" class="btn btn-orange btn-big">
          {{ page.process-cta }}
        </a>
      </div>
    </div>
    <div class="temporary-process_columns-right">
      <img src="{{ page.process-image }}" alt="{{ page.process-image-alt }}" />
    </div>
  </div>
</div>
