<div class="temporary-process">
  <h2 class="temporary-process_header">
    {{ page.process-header }}
  </h2>
  <div>
    <p>{{ page.process-text-1 }}</p>
    <p>{{ page.process-text-2 }}</p>
  </div>
  <div class="temporary-process_list">
    <p>{{ page.process-list }}</p>
    <ul class="temporary-process_list-items">
      <li>{{ page.process-list-1 }}</li>
      <li>{{ page.process-list-2 }}</li>
      <li>{{ page.process-list-3 }}</li>
      <li>{{ page.process-list-4 }}</li>
    </ul>
    <a href="{{ page.process.link }}" class="btn btn-orange btn-big">
      {{ page.process-cta }}
    </a>
  </div>
</div>
