<div class="temporary-requirements">
    <div class="temporary-requirements2-wrapper">
        <p class="temporary-requirements2_paragraph blue">{{page.requirements2-text-1}}</p>
        <p class="temporary-requirements2_paragraph">{{page.requirements2-text-2}}</p>
        <div class="temporary-requirements2_frame">
            <p class="temporary-requirements2_paragraph">{{page.requirements2-text-3}}</p>
            <p class="temporary-requirements2_paragraph">{{page.requirements2-text-4}}</p>
        </div>
    </div>
</div>
