<div class="temporary-requirements">
  <div class="temporary-requirements-wrapper">
    <p class="temporary-requirements_paragraph">{{page.requirements-text-1}}</p>
    <p class="temporary-requirements_paragraph">{{page.requirements-text-2}}</p>
    <div class="temporary-requirements_frame">
      <p class="temporary-requirements_paragraph">{{page.requirements-text-3}}</p>
    </div>
    <p class="temporary-requirements_paragraph">{{page.requirements-text-4}}</p>
    <ul class="temporary-requirements-list">
      <li class="temporary-requirements-item">{{page.requirements-list-1}}
      </li>
      <li class="temporary-requirements-item">
        {{page.requirements-list-2}}
      </li>
      <li class="temporary-requirements-item">
        {{page.requirements-list-3}}
      </li>
      <li class="temporary-requirements-item">
        {{page.requirements-list-4}}
      </li>
    </ul>
  </div>
  <div class="temporary-requirements-image"><img src="{{page.requirements-img}}" alt="{{page.temporary-requirements-alt}}"></div>
</div>
