<div class="temporary-who_could">
    <div class="temporary-who_could_wrapper">
        <div class="temporary-who_could_slogan">
            <p class="temporary-who-could_paragraph blue">{{page.who-could-1}}</p>
        </div>
        <p class="temporary-who_could_paragraph">{{page.who-could-2}}</p>
        <ul class="temporary-who_could-list">
            <li>{{page.who-could-list-1}}</li>
            <li>{{page.who-could-list-2}}</li>
            <li>{{page.who-could-list-3}}</li>
            <li>{{page.who-could-list-4}}</li>
        </ul>
    </div>
    <div class="temporary-who_could_image"><img src="{{page.who-could-img}}" alt="{{page.who-could-alt}}"></div>
</div>
