---
layout: default
---

<section class="container">
  {% include home/about-meet-us.html %}
</section>

<section class="container">
  {% include home/about-facebook.html %}
</section>

<section class="full full--dark">
  {% include home/about-actions.html %}
</section>

<section class="container">
  {% include home/adoptions-intro.html %}
</section>

<section class="container">
  {% include home/adoptions-process.html %}
</section>

<section class="container">
  {% include home/adoptions-cats.html %}
</section>

<section class="full full--dark">
  {% include home/help-donate.html %}
</section>

<section class="full full--grey">
  {% include home/help-support.html %}
</section>

<section class="container">
  {% include home/wroclove-intro.html %}
</section>

<script type="text/javascript">
  {% include home/donate.js %}
</script>
