<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="{{ page.language }}">
  {% include head.html %}

  <body>
    {% include header.html %}

    <main>
      <section class="full full--grey">
        <h1 class="temporary-header">{{ page.header }}</h1>
      </section>

      <section class="container">
        {% include temporary/who_could.html %}
      </section>

      <section class="container">
        {% include temporary/requirements.html %}
      </section>

      <section class="container">
        {% include temporary/requirements_2.html %}
      </section>

      <section class="full full--dark">
        {% include temporary/duration.html %}
      </section>

      <section class="container">
        {% include temporary/join.html %}
      </section>
    </main>

    {% include footer.html %}
  </body>
</html>
