<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="{{ page.language }}">
  {% include head.html %}

  <body>
    {% include header.html %}

    <main>
      <section class="container">
        {% include volunteering/intro.html %}
      </section>

      <section class="container">
        {% include volunteering/shifts.html %}
      </section>

      <section class="full full--dark">
        {% include volunteering/transport.html %}
      </section>

      <section class="container">
        {% include volunteering/adoption.html %}
      </section>

      <section class="full full--dark">
        {% include volunteering/other.html %}
      </section>

      <section class="container">
        {% include volunteering/help.html %}
      </section>
    </main>

    {% include footer.html %}
  </body>
</html>
