<div class="home-meetus" id="about">
  <div class="home-meetus_text">
    <h2 class="home-meetus_text-header">
      {{ page.meet-us_text }}
    </h2>
    <p class="home-meetus_text-paragraph">
      {{ page.meet-us_foundation }}
    </p>
    <div class="home-meetus_text-platform">
      <p class="home-meetus_text-platform_paragraph">
        {{ page.meet-us_platform }}
      </p>
      <div class="home-meetus_text-platform_image">
        <img
          src="{{ page.meet-us_platform-img }}"
          alt="{{ page.meet-us_platform-img_alt }}"
        />
      </div>
    </div>
  </div>
  <div class="home-meetus_image">
    <img
      src="{{ page.meet-us_img }}"
      alt="{{ page.meet-us_alt }}"
    />
  </div>
</div>
