<div class="home-actions" id="01">
  <h2 class="home-actions_header">
    {{ page.actions-header }}
  </h2>
  <ul class="home-actions_list">
    <li class="home-actions_action">
      <div class="home-actions_icon">
        <img src="{{ page.actions-img1 }}" alt="{{ page.actions-img_alt }}"/>
      </div>
      <h3 class="home-actions_title">
        {{ page.action-title1 }}
      </h3>
      <p class="home-actions_text">
        {{ page.action-text1 }}
      </p>
    </li>
    <li class="home-actions_action">
      <div class="home-actions_icon">
        <img src="{{ page.actions-img2 }}" alt="{{ page.actions-img_alt }}"/>
      </div> 
      <h3 class="home-actions_title">
        {{ page.action-title2 }}
      </h3>
      <p class="home-actions_text">
        {{ page.action-text2 }}
      </p>
    </li>
    <li class="home-actions_action">
      <div class="home-actions_icon">
        <img src="{{ page.actions-img3 }}" alt="{{ page.actions-img_alt }}"/>
      </div>
      <h3 class="home-actions_title">
        {{ page.action-title3 }}
      </h3>
      <p class="home-actions_text">
        {{ page.action-text3 }}
      </p>
    </li>
    <li class="home-actions_action">
      <div class="home-actions_icon">
        <img src="{{ page.actions-img4 }}" alt="{{ page.actions-img_alt }}"/>
      </div>
      <h3 class="home-actions_title">
        {{ page.action-title4 }}
      </h3>
      <p class="home-actions_text">
        {{ page.action-text4 }}
      </p>
    </li>
  </ul>
  <a class="btn btn-big btn-orange" href="{{ page.action-link }}">
    {{ page.action-cta }}
  </a>
</div>
