<div class="home-process">
  <h3 class="home-process_header">
    {{ page.adoptions-header-1 }}
  </h3>
  <ul class="home-process_scheme">
    <li class="home-process_step">
      <div class="home-process_step-image">
        <img src="{{ page.adopt-step-1-image }}" alt="{{ page.adopt-step-1-alt }}"/>
      </div>
      <div class="home-process_step-name">
        <span class="home-process_step-number">{{ page.adopt-step-1-intro }}</span>
        <p class="home-process_step-title"> {{ page.adopt-step-1-title }}</p>
      </div>
      <p class="home-process_step-text">{{ page.adopt-step-1-text }}</p>
      <img class="home-process_step-line" src="{{ page.adoptions-line }}" alt="{{ page.adoptions-line-alt }}"/>
    </li>
    <li class="home-process_step">
      <div class="home-process_step-image">
        <img src="{{ page.adopt-step-2-image }}" alt="{{ page.adopt-step-2-alt }}"/>
      </div>
      <div class="home-process_step-name">
        <span class="home-process_step-number">{{ page.adopt-step-2-intro }}</span>
        <p class="home-process_step-title"> {{ page.adopt-step-2-title }}</p>
      </div>
      <p class="home-process_step-text">{{ page.adopt-step-2-text }}</p>
      <img class="home-process_step-line" src="{{ page.adoptions-line }}" alt="{{ page.adoptions-line-alt }}"/>
    </li>
    <li class="home-process_step">
      <div class="home-process_step-image">
        <img src="{{ page.adopt-step-3-image }}" alt="{{ page.adopt-step-3-alt }}"/>
      </div>
      <div class="home-process_step-name">
        <span class="home-process_step-number">{{ page.adopt-step-3-intro }}</span>
        <p class="home-process_step-title"> {{ page.adopt-step-3-title }}</p>
      </div>
      <p class="home-process_step-text">{{ page.adopt-step-3-text }}</p>
      <img class="home-process_step-line" src="{{ page.adoptions-line }}" alt="{{ page.adoptions-line-alt }}"/>
    </li>
    <li class="home-process_step">
      <div class="home-process_step-image">
        <img src="{{ page.adopt-step-4-image }}" alt="{{ page.adopt-step-4-alt }}"/>
      </div>
      <div class="home-process_step-name">
        <span class="home-process_step-number">{{ page.adopt-step-4-intro }}</span>
        <p class="home-process_step-title"> {{ page.adopt-step-4-title }}</p>
      </div>
      <p class="home-process_step-text">{{ page.adopt-step-4-text }}</p>
      <img class="home-process_step-line" src="{{ page.adoptions-line }}" alt="{{ page.adoptions-line-alt }}"/>
    </li>
    <li class="home-process_step">
      <div class="home-process_step-image">
        <img src="{{ page.adopt-step-5-image }}" alt="{{ page.adopt-step-5-alt }}"/>
      </div>
      <div class="home-process_step-name">
        <span class="home-process_step-number">{{ page.adopt-step-5-intro }}</span>
        <p class="home-process_step-title"> {{ page.adopt-step-5-title }}</p>
      </div>
      <p class="home-process_step-text">{{ page.adopt-step-5-text }}</p>
    </li>
  </ul>
  <a class="btn btn-big btn-blue" href="{{ page.adoptions-link-1 }}">
    {{ page.adoptions-cta-1 }}
  </a>
</div>
