<div class="home-support">
  <h2 class="home-support_header">
    {{ page.support-header }}
  </h2>
  <ul class="home-support_list">
    <li class="home-support_item">
      <h3 class="home-support_title">
        {{ page.support-title-1 }}
      </h3>
      <div class="home-support_icon">
        <img src="{{ page.support-img-1 }}" alt="{{ page.support-img-alt }}"/>
      </div>
      <p class="home-support_text">
        {{ page.support-text-1 }}
      </p>
      <a href="{{ page.support-link-1 }}" class="btn btn-small btn-blue">
        {{ page.support-cta }}
      </a>
    </li>
    <li class="home-support_item">
      <h3 class="home-support_title">
        {{ page.support-title-2 }}
      </h3>
      <div class="home-support_icon">
        <img src="{{ page.support-img-2 }}" alt="{{ page.support-img-alt }}"/>
      </div>
      <p class="home-support_text">
        {{ page.support-text-2 }}
      </p>
      <a href="{{ page.support-link-2 }}" class="btn btn-small btn-blue">
        {{ page.support-cta }}
      </a>
    </li>
    <li class="home-support_item">
      <h3 class="home-support_title">
        {{ page.support-title-3 }}
      </h3>
      <div class="home-support_icon home-support_icon--gifts">
        <img src="{{ page.support-img-3 }}" alt="{{ page.support-img-alt }}"/>
      </div>
      <p class="home-support_text">
        {{ page.support-text-3 }}
      </p>
      <a href="{{ page.support-link-3 }}" class="btn btn-small btn-blue">
        {{ page.support-cta }}
      </a>
    </li>
  </ul>
</div>
