<div class="home-carousel">
  <div class="home-carousel_wrapper">
    <ul class="home-carousel_tabs" carousel>
      <li class="home-carousel_tabs-tab active" tab-active data-tab-index="0">
        <a
          class="home-carousel_tabs-tab_link"
          href="https://allegro.pl/charytatywni/fundacja-koci-zakatek"
          target="_blank"
          rel="nofollow"
        >
          <picture>
            <source media="(max-width: 1023px)" srcset="/assets/home/carousel-allegro-mobile.png" alt="allegro" />
            <img class="home-carousel_image" src="/assets/home/carousel-allegro.png" alt="allegro" />
          </picture>
        </a>
      </li>
      <li class="home-carousel_tabs-tab" data-tab-index="1">
        <a
          class="home-carousel_tabs-tab_link"
          href="https://www.awin1.com/cread.php?awinmid=10247&awinaffid=344897&clickref=&ued="
          target="_blank"
          rel="nofollow"
        >
          <picture>
            <source media="(max-width: 1023px)" srcset="/assets/home/carousel-zooplus-mobile.png" alt="zooplus" />
            <img class="home-carousel_image" src="/assets/home/carousel-zooplus.png" alt="zooplus" />
          </picture>
        </a>
      </li>
      <li class="home-carousel_tabs-tab" data-tab-index="2">
        <a
          class="home-carousel_tabs-tab_link"
          href="https://dlaschroniska.pl/?view=shelters&id=rkg9OVknNr"
          target="_blank"
          rel="nofollow"
        >
          <picture>
            <source media="(max-width: 1023px)" srcset="/assets/home/carousel-dlaschroniska-mobile.png" alt="dlaschroniska" />
            <img class="home-carousel_image" src="/assets/home/carousel-dlaschroniska.png" alt="dlaschroniska" />
          </picture>
        </a>
      </li>
      <li class="home-carousel_tabs-tab" data-tab-index="3">
        <a
          class="home-carousel_tabs-tab_link"
          href="https://fanimani.pl/fundacja-koci-zakatek/"
          target="_blank"
          rel="nofollow"
        >
          <picture>
            <source media="(max-width: 1023px)" srcset="/assets/home/carousel-fanimani-mobile.png" alt="fanimani" />
            <img class="home-carousel_image" src="/assets/home/carousel-fanimani.png" alt="fanimani" />
          </picture>
        </a>
      </li>
    </ul>
    <div class="home-carousel_dots" bars>
      <div class="home-carousel_dots-item active" bar-active data-bar-index="0"></div>
      <div class="home-carousel_dots-item" data-bar-index="1"></div>
      <div class="home-carousel_dots-item" data-bar-index="2"></div>
      <div class="home-carousel_dots-item" data-bar-index="3"></div>
    </div>
  </div>
  <div class="home-carousel_nav">
    <div class="home-carousel_nav-left disabled" nav-disabled nav-prev>
      <span class="home-carousel_nav-left_arrow"></span>
    </div>
    <div class="home-carousel_nav-right" nav-next>
      <span class="home-carousel_nav-right_arrow"></span>
    </div>
  </div>
</div>

<script type="text/javascript">
  {% include home/carousel.js %}
</script>
