<div id="04" class="home-wroclove">
  <div class="home-wroclove_text">
    <h2 class="home-wroclove_text-header">
      {{ page.wroclove-title }}
    </h2>
    <p class="home-wroclove_text-paragraph">
      {{ page.wroclove-text-1 }}
    </p>
    <p class="home-wroclove_text-paragraph">
      {{ page.wroclove-text-2 }}
    </p>
    <p class="home-wroclove_text-paragraph home-wroclove_text-paragraph--secondary">
      {{ page.wroclove-text-3 }}
    </p>
    <a class="btn btn-big btn-orange" href="{{ page.wroclove-link }}">
      {{ page.wroclove-cta }}
    </a>
  </div>
  <div class="home-wroclove_image">
    <img
      src="{{ page.wroclove-image }}"
      alt="{{ page.wroclove-alt }}"
    />
  </div>
</div>
