.about-education {
  padding: 60px 20px 50px;

  .about-actions {
    &_subheader {
      margin-top: 0;
    }

    &_description {
      color: $color-orange;
    }
  }

  &_text {
    font-size: 16px;
    line-height: 24px;
    color: $color-main;
  }

  &_alert {
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    font-weight: $font-weight-extrabold;
    color: $color-main;
  }

  &_box {
    margin: 25px 0;
    padding: 20px;
    border: 1px solid $color-orange;
    border-radius: 8px;

    p {
      margin-top: 0;
      text-align: center;
      font-size: 18px;
      line-height: 28px;
      font-weight: $font-weight-extrabold;
      color: $color-orange;
    }
  }

  &_list, &_campaigns-list {
    padding-left: 0;
    list-style-type: none;

    li {
      position: relative;
      margin: 5px 0;
      padding-left: 20px;
      font-size: 16px;
      line-height: 24px;
      font-weight: $font-weight-light;

      &::before {
        content: '';
        position: absolute;
        top: 9px;
        left: 0;
        width: 5px;
        height: 5px;
        background-color: $color-orange;
        border-radius: 100%;
      }
    }
  }

  &_columns .about-education_posters-poster {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px 0;

    &_shadow img {
      width: 100px;
    }
  }

  &_campaigns {
    font-size: 18px;
    line-height: 30px;
    font-weight: $font-weight-bold;

    span {
      font-weight: $font-weight-extrabold;
      color: $color-orange;
    }

    &-list {
      margin-bottom: 20px;
    }
  }

  &_posters {
    display: flex;
    flex-flow: row wrap;

    .about-education_posters-poster {
      box-sizing: border-box;
      width: 50%;
      padding: 5px 0;

      &:nth-of-type(odd) { padding-right: 5px; }
      &:nth-of-type(even) { padding-left: 5px; }

      &_shadow img {
        width: 60px;
      }
    }

    &-poster {
      position: relative;
      cursor: pointer;

      img {
        width: 100%;
        border-radius: 8px;
      }

      &_shadow {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, .5);
        opacity: 0;
        transition: opacity .4s;
        will-change: opacity;
      }

      &:hover {
        .about-education_posters-poster_shadow {
          opacity: 1;
        }
      }
    }
  }
}

@media(min-width: $breakpoint-xs) {
  .about-education {
    padding: 70px 60px;

    &_columns-posters {
      display: flex;
      flex-flow: row nowrap;
  
      .about-education_posters-poster {
        box-sizing: border-box;
        width: 50%;

        &:first-of-type { padding-right: 5px; }
        &:last-of-type { padding-left: 5px; }

        &_shadow img {
          width: 60px;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-md) {
  .about-education {
    padding: 100px 80px;

    &_wrapper {
      max-width: 1280px;
      margin: 0 auto;
    }

    &_columns {
      display: flex;
      flex-flow: row nowrap;

      &-left, &-right {
        box-sizing: border-box;
        width: 50%;
      }

      &-left {
        padding-right: 25px;
      }

      &-right {
        padding-left: 25px;
      }
    }

    &_box {
      margin-top: 15px;
    }

    &_posters {
      margin-top: 20px;

      .about-education_posters-poster {
        width: 25%;
        
        &:nth-of-type(1), &:nth-of-type(5) { padding: 5px 10px 5px 0; }
        &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(6), &:nth-of-type(7) { padding: 5px; }
        &:nth-of-type(4), &:nth-of-type(8) { padding: 5px 0 5px 10px; }
      }
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .about-education {
    .about-actions_description {
      margin-bottom: 40px;
    }

    &_alert, &_box p, &_campaigns {
      font-size: 24px;
      line-height: 36px;
    }

    &_alert {
      margin-top: 50px;
    }

    &_box {
      margin-bottom: 40px;
      padding: 40px 70px;
    }

    &_campaigns {
      max-width: 420px;
      margin: 0 auto;
      text-align: center;
    }

    &_columns {
      &-left { 
        padding-right: 80px; 
      }

      &-right {
        padding-left: 10px;
      }

      &-posters .about-education_posters-poster {
        &:first-of-type { padding-right: 15px; }
        &:last-of-type { padding-left: 15px; }
      }
    }

    &_posters  {
      margin-top: 0;

      .about-education_posters-poster {
        &:nth-of-type(1), &:nth-of-type(5) { padding: 10px 20px 10px 0; }
        &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(6), &:nth-of-type(7) { padding: 10px; }
        &:nth-of-type(4), &:nth-of-type(8) { padding: 10px 0 10px 20px; }
      }
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .about-education {
    &_campaigns {
      margin-bottom: 40px;
    }
  }
}
