.about-mission {
  padding: 50px 20px;

  &_header {
    margin-top: 0;
    font-size: 36px;
    line-height: 50px;
    font-weight: $font-weight-extrabold;
  }

  &_list {
    padding-left: 0;
    list-style-type: none;
    
    &-item {
      max-width: 350px;
      margin: 0 auto;
      text-align: center;

      &_image {
        width: 100%;
        text-align: center;

        img {
          width: 100%;
          border-radius: 100%;
        }
      }

      &_name {
        font-size: 20px;
        line-height: 30px;
        font-weight: $font-weight-extrabold;
        color: $color-blue;
      }
    }
  }
}

@media(min-width: $breakpoint-xs) {
  .about-mission {
    padding: 70px 60px;
  }
}

@media (min-width: $breakpoint-md) {
  .about-mission {
    padding: 100px 80px;

    &_wrapper {
      max-width: 1280px;
      margin: 0 auto;
    }

    &_list {
      display: flex;
      flex-flow: row wrap;

      &-item {
        box-sizing: border-box;
        width: 33.3%;
        max-width: 33.3%;
        padding-right: 10px;

        &_name {
          max-width: 200px;
          height: 75px;
          margin-top: 25px;
          margin-left: auto;
          margin-right: auto;
          font-size: 17px;
          line-height: 26px;
        }

        &_text {
          font-size: 14px;
          line-height: 20px;
        }

        &_image img {
          max-width: 320px;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .about-mission {
    &_header {
      margin-bottom: 40px;
      font-size: 54px;
      line-height: 70px;  
    }

    &_list-item {
      padding: 0;

      &:first-of-type { padding-right: 40px; }
      &:nth-of-type(2) { padding: 0 20px; }
      &:last-of-type { padding-left: 40px; }

      &_name {
        min-width: 281px;
        max-width: 281px;
        height: 105px;
        font-size: 26px;
        line-height: 38px;
        font-weight: $font-weight-bold;
      }

      &_text {
        max-width: 310px;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
