.volunteering-intro {
  padding-top: 50px;

  &_header, &_text {
    padding: 0 20px;
    color: $color-main;
  }

  &_header {
    margin: 0;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 50px;
    font-weight: $font-weight-extrabold;
    color: $color-main;
  }

  &_text {
    &-big {
      text-align: center;
      font-size: 20px;
      line-height: 30px;
      font-weight: $font-weight-extrabold;
      color: $color-orange;
    }

    &-columns {
      font-size: 16px;
      line-height: 28px;
      font-weight: $font-weight-normal;
    }
  }

  &_image {
    box-sizing: border-box;
    width: 100%;
    margin: 25px 0;

    img {
      width: 180%;
      transform: translateX(-22%);
    }
  }
}
  
@media (min-width: $breakpoint-xs) {
  .volunteering-intro {
    padding: 50px 20px 0;

    &_header, &_text {
      padding: 0 40px;
    }

    &_image {
      margin: 40px 0;

      img {
        width: 100%;
        transform: none;
        border-radius: 30px;
      }
    }
  }
}

@media (min-width: $breakpoint-sm) {
  .volunteering-intro {
    padding: 80px 60px 0;

    &_header, &_text {
      padding: 0;
    }

    &_text-big {
      text-align: left;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .volunteering-intro {
    padding: 100px 80px 0;
    
    &_text-columns {
      display: flex;
      flex-direction: row nowrap;

      &_left, &_right {
        box-sizing: border-box;
        width: 50%;
      }

      &_left {
        padding-right: 25px;
      }

      &_right {
        padding-left: 25px;
      }
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .volunteering-intro {
    &_header {
      font-size: 50px;
      line-height: 65px;
    }

    &_text {
      &-big {
        font-size: 28px;
        line-height: 42px;
      }

      &-columns {
        font-size: 18px;
        line-height: 30px;

        &_left {
          padding-right: 50px;
        }

        &_right {
          padding-left: 50px;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .volunteering-intro_header {
    font-size: 54px;
    line-height: 70px;
  }
} 
