.volunteering-shifts {
  padding: 0 20px 10px;

  &_header {
    margin-top: 0;
    font-size: 28px;
    line-height: 42px;
    font-weight: $font-weight-extrabold;
  }

  &_intro {
    font-size: 16px;
    line-height: 28px;
    font-weight: $font-weight-normal;

    span {
      font-weight: $font-weight-extrabold;
      color: $color-blue;
    }
  }

  &_list {
    margin: 25px 0;
    padding: 20px;
    border: 1px solid $color-blue;
    border-radius: 8px;

    p {
      text-align: center;
      font-size: 18px;
      line-height: 28px;
      font-weight: $font-weight-extrabold;
      color: $color-blue
    }

    &-items {
      padding-left: 0;
      list-style-type: none;

      li {
        position: relative;
        margin: 5px 0;
        padding-left: 20px;
        font-size: 16px;
        line-height: 24px;
        font-weight: $font-weight-light;

        &::before {
          content: '';
          position: absolute;
          top: 9px;
          left: 0;
          width: 5px;
          height: 5px;
          background-color: $color-blue;
          border-radius: 100%;
        }
      }
    }
  }

  &_points {
    padding-left: 0;
    list-style-type: none;

    img {
      display: block;
      max-width: 150px;
      margin: 0 auto;
    }

    &-item {
      margin-bottom: 30px;
      padding: 20px 30px;
      background-color: $color-grey;
      border: 1px dashed $color-blue;
      border-radius: 8px;

      &_text, &_details {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
      }

      &_text {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        font-weight: $font-weight-extrabold;
      }

      &_details {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}

@media (min-width: $breakpoint-xs) {
  .volunteering-shifts {
    padding: 0px 60px 10px;
  }
}

@media (min-width: $breakpoint-sm) {
  .volunteering-shifts { 
    padding: 20px 60px 40px;
  }
}

@media (min-width: $breakpoint-md) {
  .volunteering-shifts {
    padding: 30px 80px;

    &_columns {
      display: flex;
      flex-flow: row nowrap;
      margin-bottom: 40px;

      &-left, &-right {
        box-sizing: border-box;
        width: 50%;
      }

      &-left {
        padding-right: 25px;
      } 
      
      &-right {
        padding-left: 25px;
      }
    }

    &_list {
      margin: 0;
    }

    &_points {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      &-item {
        box-sizing: border-box;
        width: 32%;
      }

      img {
        max-width: 100px;
      }
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .volunteering-shifts {
    &_header {
      font-size: 40px;
      line-height: 54px;
    }

    &_columns {
      margin-bottom: 70px;
    }

    &_list {
      margin-top: 10px;
      padding: 30px 50px;
    }

    &_points-item {
      padding: 30px 50px;
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .volunteering-shifts {
    &_points {
      img {
        max-width: 150px;
      }
    }
  }
}
