.volunteering-transport {
  &_columns-left, &_contact {
    padding: 0 20px;
  }

  &_wrapper {
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 0;
  }

  &_header {
    margin-top: 0;
    font-size: 28px;
    line-height: 42px;
    font-weight: $font-weight-extrabold;
  }

  &_intro {
    font-size: 20px;
    line-height: 32px;
    font-weight: $font-weight-extrabold;
    color: $color-orange;
  }

  &_text {
    font-size: 16px;
    line-height: 28px;
  }

  &_list {
    margin: 25px 0;
    padding: 20px;
    border: 1px solid $color-white;
    border-radius: 8px;

    p {
      text-align: center;
      font-size: 18px;
      line-height: 28px;
      font-weight: 800;
      color: $color-orange;
    }

    &-items {
      padding-left: 0;
      list-style-type: none;

      li {
        position: relative;
        margin: 10px 0;
        padding-left: 20px;
        font-size: 16px;
        line-height: 28px;
        font-weight: $font-weight-light;

        &::before {
          content: '';
          position: absolute;
          top: 11px;
          left: 0;
          width: 5px;
          height: 5px;
          background-color: $color-orange;
          border-radius: 100%;
        }
      }
    }
  }

  &_columns-right {
    box-sizing: border-box;
    width: 100%;

    img {
      width: 100%;
    }
  }

  &_contact {
    margin-top: 50px;
    text-align: center;

    &-intro {
      margin-bottom: 0;
      font-size: 22px;
      line-height: 34px;
      font-weight: $font-weight-extrabold;
      color: $color-orange;
    }

    &-text {
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 16px;
      line-height: 28px;
    }

    a {
      font-weight: $font-weight-light;
      font-size: 22px;
      line-height: 34px;
      text-decoration: none;
      color: $color-orange;
    }
  }
}

@media (min-width: $breakpoint-xs) {
  .volunteering-transport {
    &_wrapper {
      padding: 50px 60px;
    }

    &_columns-left, &_contact {
      padding: 0;
    }

    &_columns-right img {
      border-radius: 8px;
    }
  }
}

@media (min-width: $breakpoint-sm) {
  .volunteering-transport_wrapper {
    padding: 80px 60px;
  }
}

@media (min-width: $breakpoint-md) {
  .volunteering-transport {
    &_wrapper {
      padding: 100px 80px 60px;
    }

    &_list {
      margin-top: 55px;
      margin-bottom: 0;
    }

    &_columns {
      display: flex;
      flex-flow: row nowrap;

      &-left, &-right {
        box-sizing: border-box;
        width: 50%;
      }

      &-left {
        padding-right: 25px;
      } 
      
      &-right {
        display: flex;
        padding-left: 25px;

        img {
          width: auto;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .volunteering-transport {
    &_header {
      font-size: 40px;
      line-height: 54px;
    }

    &_intro {
      font-size: 28px;
      line-height: 42px;
    }

    &_text {
      font-size: 18px;
      line-height: 32px;
    }

    &_list {
      padding: 30px 50px;

      p {
        font-size: 24px;
        line-height: 38px;
      }
    }

    &_columns {
      &-left {
        padding-right: 50px;
      } 
      
      &-right {
        padding-left: 50px;
      }
    }

    &_contact {
      margin-top: 50px;

      &-intro {
        font-size: 28px;
        line-height: 42px;
      }
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .volunteering-transport {
    &_list {
      margin-top: 55px;
      padding: 30px 50px;

      p {
        font-size: 24px;
        line-height: 38px;
      }
    }

    &_columns-right {
      border-radius: 8px;
      overflow: hidden;
    }
  }
}

@media (min-width: 1440px) {
  .volunteering-transport_columns-right {
    display: block;

    img {
      width: 100%;
    }
  }
}
